<div class="left_panel">

	<%= form_for :user, :url =>  "/users/search", :remote => true do |f| %>
		<p>
			<%= f.label "Name or Email" %><br />
			<%= f.text_field :name %>
		</p>
		
		<p>
			<%= f.submit "Search" %>
		</p>
	<% end %>
	
	<div id="result">
		<%= render :partial => "list_with_selection", :locals => { :users => [] } %>
	</div>
	
	<a id="add_users">Add</a>
</div>

<div class="right_panel">
	<div>
		<ul id="selected_users"></ul>
		
		<%= form_for :user, :url =>  "/users/send" do |f| %>
			<%= f.hidden_field "ids" %>
			<%= f.hidden_field :project_id, :value => @project.id %>
			<%= f.submit "Send" %>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	$().ready(function() {
		$("#add_users").click(function() {
			var ids = "";
			$("input:checked").each(function(index) {
				var id = $(this).attr("value");
				var name = $(this).attr("name");
				$("#selected_users").append(
					"<li name=\"" + id + "\">" + name + "</li>"
				);
				if (index > 0) ids += ",";
				ids += id;
			});
			$("#user_ids").val(ids);
		});
	});
</script>